<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455783492575-2jo790hsh4s9ne15120d9u8uidqdls26.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455783492575-2jo790hsh4s9ne15120d9u8uidqdls26</string>
	<key>API_KEY</key>
	<string>AIzaSyB8ZVwMMSlGLlBmP5ORfFz9NOumZVo156k</string>
	<key>GCM_SENDER_ID</key>
	<string>455783492575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nakayama.lab.ShareWalking</string>
	<key>PROJECT_ID</key>
	<string>share-walking</string>
	<key>STORAGE_BUCKET</key>
	<string>share-walking.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455783492575:ios:d7c09961ebc534c9da726a</string>
</dict>
</plist>